{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Welcome to Taskmate! </title>
{% endblock title %}

{% block content %}

    <div class="container">
        <div class = 'row mt-5'>
            <div class = 'col-lg-4'>
                <img src = "{% static 'images/stnotes3.jpeg' %}" alt = "Notes" class = "rounded-lg shadow" width = "360" height ="250">
            </div>
            <div class = 'col-lg-4'>
                <img src = "{% static 'images/stnotes2.jpeg' %}" alt = "Notes" class = "rounded-lg shadow" width = "360" height ="250">
            </div>
            <div class = 'col-lg-4'>
                 <img src = "{% static 'images/stnotes4.jpeg' %}" alt = "Notes" class = "rounded-lg shadow" width = "360" height ="250">
            </div>
        </div>
        <div class = 'row mt-5'>
            <div class="col-md-10 offset-md-1   ">
                <center><p class = 'h1 text-primary'> Quick And Easy to Use, Anytime, Anywhere!</p></center>
                <center><p class = 'h2 mt-3'> "Plan your day better" </p></center>
                <center><p class = 'h5'> Track your life!! </p></center>
                <center><a href = "{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3">Let's get started!</button></a></center>
            </div>

        </div>
    </div>

{% endblock content %}